* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* fonts 
font-family: 'Raleway', sans-serif;
font-family: 'Anton', sans-serif;
 */

body {
    background-color: #8B939C;
    height: 100vh;
}

a {
    text-decoration: none;
}

.navListLink {
    color: black;
}

nav {
    padding: 2.4rem;
    padding-bottom: 0rem;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

li {
    list-style: none;
}

.dropdownMenu {
    display: none;
    position: absolute;
    background-color: #8B939C;
    /* padding: 10px; */
}

.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: visibility 0s linear 0.3s, opacity 0.3s;
    height: 100vh;
    width: 100vw;
    /* overflow-y: auto; */
    overflow-x: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    /* border: 1px solid black; */
}


/* .show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
} */

.dropdownMenu li {
    font-size: 10rem;
    font-family: 'Anton', sans-serif;
    width: 100%;
    border-bottom: 1.5px solid black;
}

.dropdownMenu a {
    color: #ffffff;
}


/* ====================== Homepage bold text styling========================== */

#homePageText {
    font-family: 'Anton', sans-serif;
    font-size: 10rem;
    color: #ffffff;
    line-height: 96.4%;
    margin-top: 2.5rem;
    padding-left: 2.1875rem;
    padding-right: 2.5rem;
}


/* ======================skill and experience===================== */

#skillAndExp {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    /* line-height: 73.4%; */
    padding-left: 2.5rem;
    padding-top: 1.5rem;
}


/* =========================HomePageCTA=================================== */

#homePageCTA {
    margin: 0rem 2.5rem 3.31rem 2.19rem;
}

.contactMeAndWorkButton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid black; */
    margin-top: -1rem;
}

#contactMeButton {
    padding: 1.5rem;
    border-radius: 50px;
    color: #F5F5F5;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    /* font-family: Raleway; */
    font-weight: 600;
    line-height: 78.9%;
    letter-spacing: -0.0825rem;
    background-color: #8B939C;
    border: 1.5px solid black;
}

#workButton {
    width: 7.375rem;
    height: 7.375rem;
    background-color: #8B939C;
    border: 1.5px solid black;
    border-radius: 50%;
    color: #000;
    font-size: 1.5rem;
    font-family: Raleway;
    line-height: 78.9%;
    letter-spacing: -0.0825rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workButtonLink {
    color: #000000;
}

.lineVector {
    margin-top: 1rem;
}


/* ==========================my work section================================ */

#myworkHeading {
    font-size: 8rem;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    /* margin-top: 2.1875rem; */
    margin-left: 2rem;
}


/* ==============================project Section ===================================== */

#projectSection {
    display: flex;
    justify-content: space-evenly;
    /* padding: 2rem 2rem; */
    border: 1px solid black;
    border-right: none;
    /* background-color: white; */
}

.project {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 2rem;
    border-right: 1px solid black;
}

.projectImage {
    width: 22rem;
    height: 16.375rem;
    border: 1px solid black;
}

.projectHeading {
    color: #000;
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    padding: 2rem 0rem 1rem;
    line-height: 78.9%;
}

.projectDescription {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-family: Raleway;
    line-height: 106.9%;
}

#caseStudyButton {
    padding: 1.5rem;
    background-color: #8B939C;
    border-radius: 50px;
    margin-top: 1.5rem;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    color: #F5F5F5;
    font-size: 1rem;
    font-weight: 600;
    line-height: 106.9%;
}


/*================================= marquee section====================== */

#marqueeSection {
    width: 100%;
    overflow: hidden;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 25s linear infinite;
    font-size: 6rem;
    font-family: 'Anton', sans-serif;
    line-height: 96.4%;
    padding: 2.5rem 0rem;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* =============contact and social of work.html===================== */

#contactAndSocial {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0rem 2rem 2rem;
}

#socials {
    display: flex;
    width: 12.625rem;
    height: 2rem;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 3.3125rem;
    flex-shrink: 0;
}